<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="oe_slogan">POS Session Report</h2>
            <h3 class="oe_slogan">Allows you to print current session report</h3>
        </div>
    </div>
    <div class='oe_span12'>
        Features
        <ul>
            <li>By the help of this module sellers can see how much product are sold.</li>
            <li>Seller can use thermal printer or normal printer to print the receipt.</li>
        </ul>
    </div>
    <div class='oe_span12'>
       1. Allow session Report.
    </div>
    <div class='oe_span12'>
        <img class="oe_picture oe_screenshot" src="configs.jpg">
    </div>

    <div class='oe_span12'>
       2. Report button.
    </div>
    <div class='oe_span12'>
        <img class="oe_picture oe_screenshot" src="pos_button.jpg">
    </div>
    <div class='oe_span12'>
       3. Receipt view.
    </div>
    <div class='oe_span12'>
        <img class="oe_picture oe_screenshot" src="receipt.jpg">
    </div>
    <div class='oe_span12'>
       4. Posbox Thermal printer receipt view.
    </div>
    <div class='oe_span12'>
        <img class="oe_picture oe_screenshot" src="report.jpg">
    </div>
    <div class='oe_span12'>
        <h1 align="center">
           If You Need Any Help or Customization Please Contact
        </h1>
        <h3 align="center">
            Email Id: dev.webveer@gmail.com
        </h3>
    </div>
    </div>
</section>